<!DOCTYPE html> 
<html> 

  <head>
    <!--required for drop-down to work--> 
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" data-semver="2.1.4" data-require="jquery@*"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script> 
    <link rel="stylesheet" href="style.css" /> 
    <script src="script.js"></script> 
  </head> 
  <body ng-app="app"> 
    <h1 class="text-center">My little to do app!</h1>
    <!--changed to form to allow for submission via hitting enter-->
    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl" >
      <form>
        <!--Couldnt get the input form to flush up nicely..looks fragmented like this but works--> 
        <div class="col-xs-2">
          <!--Selector for priority-->
          <select ng-model="priority" class="form-control">
            <option value="" disabled selected>Priority</option> 
            <option value="High">High</option>
            <option value="Med">Medium</option>
            <!--Wanted to make this default but selected wasnt working also, l in low is lower case for a reason. See style.css-->
            <option value="low">Low</option>
          </select> 
        </div>
        <div class="col-xs-9"> 
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem" autocomplete="off">
        </div>
        <div class="col-xs-1">
          <span class="input-group-btn">
          <!--changed to submit type to allow for submission via hitting enter--> 
          <!--I think a blue button would look good for the select--> 
            <button type="submit" class="btn btn-info" ng-click="addItem()" id="submission">   
              <span>Submit</span>                  
            </button>     
          </span> 
        </div>
      </form>
      <!--for whatever reason, setting up the above caused the spacing here to disappear on the site so I added to break lines-->
      <br/>
      <br/>
      <h2 class="text-center">stuff i gotta do asap</h2>     
      <ul class="list-group"> 
        <li class="list-group-item clearfix" ng-repeat="do in todos" ng-class="do.priority">     
          

          <span>{{do.name}}</span>
          <!-- This division is a text box that shows up only when the edit button has been pressed and disappears when 'ok' is hit. This is where the js function is called from.-->
          <form ng-show="activity.isEdited">
            <input type="text" ng-model="uInput" placeholder= {{do.name}}/>
            
            <div class="col-xs-2">
              <!--Selector for priority-->
              <select ng-model="priority" class="form-control">
                <option value="" disabled selected>Priority</option> 
                <option value="High">High</option>
                <option value="Med">Medium</option>
                <!--Wanted to make this default but selected wasnt working also, l in low is lower case for a reason. See style.css-->
                <option value="low">Low</option>
              </select> 
            </div>



              <!--<form ng-submit = "activity.isEdited = false ; editItem(do, uInput, priority)">
              -->
            
            <button type="submit" class="btn btn-info" ng-click="activity.isEdited = false ; editItem(do, uInput, priority)"id="submission">
              <span>Ok</span>
            </button>
          </form>
            <span class="pull-right">
              <!-- complete/uncomplete buttons -->
              <button class="btn btn-success" ng-show="!do.done" ng-click="completeItem($index)">Done <span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-success" ng-show="do.done" ng-click="uncompleteItem($index)">Undone <span class="glyphicon glyphicon-repeat"></span></button>
              <div ng-hide="activity.isEdited"> 
                <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem($index)"> 
                  <span class="glyphicon glyphicon-trash " aria-hidden="true"></span> 
                </button> 
                <button class="btn btn-danger pull-right" ng-click="activity.isEdited = true" type="button">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                
              </div>
            </span>
        </li> 
      </ul>
      <div class="panel clearfix">
          <div class="panel-body">
              <h3 class="inline">
                  Tasks Remaining:
                  <span class="label" ng-class="{'label-success':todos.length === 0, 'label-danger': todos.length > 0}">{{todos.length}}</span>
              </h3>
                <button class="btn btn-info" type="button" ng-click="deleteCompleted()">
                  Delete Completed Tasks
                </button>
              <div class="pull-right test1">
                  <span class="text-danger bold" ng-show="todos.length">Unfinished Tasks Remaining</span>
                  <span class="text-success bold" ng-hide="todos.length">No Tasks Remaining</span>
                  <span class="badge">
                      <span class="glyphicon" ng-class="{'glyphicon-ok':todos.length === 0, 'glyphicon-remove': todos.length > 0}"></span>
                  </span>
              </div>
          </div>
      </div>
    </div>  
  </body> 
</html> 



