/* Styles go here */
body {
  background: green;
}

.inline {
  display:inline;
}

.test1{
  line-height: 30px;
}

.bold {
  font-weight: bold;


/*Priority coloring*/
.High {
	color: red;
}

.Med {
	color: orange;
}
/*must be lower case to enforce sorting order of High, Medium, low....i.e. capital M comes before lower case l but after uppercase L*/
.low {
	color: black;
}
