<<<<<<< HEAD
/* Styles go here */ 
body { 
  background: green; 
} 

 
#highpriority { 
	color: red; 
} 

<<<<<<< HEAD
.low {
	color: black;
=======
/* Styles go here */
body {
  background: green;
>>>>>>> 7fc5c28ad48f11fd5d8dac53c6310f44586b5fba
}
=======
 
#medpriority { 
	color: orange; 
} 
 
 
#lowpriority { 
	color: black; 
} 
>>>>>>> parent of 74f0a49... work in progress
