<<<<<<< HEAD
/* Styles go here */ 
body { 
  background: green; 
} 

.high {
	color: red;
}

.med {
	color: orange;
}

.low {
	color: black;
=======
/* Styles go here */
body {
  background: green;
>>>>>>> 7fc5c28ad48f11fd5d8dac53c6310f44586b5fba
}